body{
    background-color: aqua;
    overflow: hidden;
}

/*NewGame*/
.newGameContainer{
    display: block;
    position: relative;
    height: 49vh;
}

.newGameButton{
    width: 400px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

/*JoinGame*/
.joinGameContainer{
    display: block;
    position: relative;
    height: 49vh;
}


.joinGameTextArea{
    display: block;
    width: 400px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 3em;
    resize: none;
    background-color: white;
    border: 1px solid #444;
    overflow: hidden;

}

.joinGameButton{
    display: block;
    width: 406px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
}
